<p>{{test}}</p>
<h2>Property and Seller List</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<td>
				<a ng-click="sortType = 'sellerLastName'; sortReverse = !sortReverse">
					Seller Last Name
				</a>
			</td>
			<td>
				<a ng-click="sortType = 'sellerFirstName'; sortReverse = !sortReverse">
					Seller First Name
				</a>
			</td>
			<td>
				<a ng-click="sortType = 'price'; sortReverse = !sortReverse">
					Price
				</a>
			</td>
			<td>
				<a ng-click="sortType = 'available'; sortReverse = !sortReverse">
					Available
				</a>
			</td>
		</tr>
	</thead>
	<tr ng-repeat="property in properties| orderBy:sortType:sortReverse">
		
		<td><a href="#property">{{property.sellerLastName}}</a></td>
		<td>{{property.sellerFirstName}}</td>
		<td>{{property.price | currency}}</td>
		<td>{{property.available}}</td>
	</tr>
</table> 