<div class="row top-buffer">
	<div class="col-sm-8 col-sm-offset-1">
		<form>
			<div class="form-group">
				<label>Seller First Name</label>
				<input type="text" ng-model="addPropertyData.sellerFirstName">
			</div>
			<div class="form-group">
				<label>Seller Last Name</label>
				<input type="text" ng-model="addPropertyData.sellerLastName">
			</div>
			<div class="form-group">
				<label>Price</label>
				<input type="text" ng-model="addPropertyData.price">
			</div>
			<div class="form-group">
				<input type="checkbox" ng-model="addPropertyData.available"> Available
			</div>
			<button type="submit" value="Add" ng-click="addProperty($scope)">Add</button>
		</form>
	</div>
</div>
<div class="row top-buffer">
	<div class="col-sm-8 col-sm-offset-1">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>
						<a ng-click="sortType = 'sellerLastName'; sortReverse = !sortReverse">
							Seller Last Name
						</a>
					</td>
					<td>
						<a ng-click="sortType = 'sellerFirstName'; sortReverse = !sortReverse">
							Seller First Name
						</a>
					</td>
					<td>
						<a ng-click="sortType = 'price'; sortReverse = !sortReverse">
							Price
						</a>
					</td>
					<td>
						<a ng-click="sortType = 'available'; sortReverse = !sortReverse">
							Available
						</a>
					</td>
				</tr>
			</thead>
			<tr ng-repeat="property in filteredProperties| orderBy:sortType:sortReverse">
				
				<td>{{property.sellerLastName}}</td>
				<td>{{property.sellerFirstName}}</td>
				<td>{{property.price | currency}}</td>
				<td>{{property.available}}</td>
				<td><a ng-click="removeProperty(property._id)"><span class="glyphicon glyphicon-remove"></span></a></td>
				<td><a ng-href="#property/{{property._id}}">view</a></td>
			</tr>
		</table> 
		<pagination
		 ng-model="currentPage"
		 total-items="properties.length"
		 max-size="maxSize"
		 boundary-links="true">
		</pagination>
	</div>
</div>